@media (width >=768px) and (width < 992px) {
  .menu {
    flex: 0 1 60%;
  }

  .menu a {
    font-size: 18px;
  }

  .logo {
    flex: 0 1 20%;
  }

  .icons {
    flex: 0 1 20%;
  }

  h1 {
    font-size: 50px;
    padding-bottom: 25px;
  }

  .shop-now-text p {
    padding-bottom: 30px;
  }

  .guides .container {
    padding: 30px 0;
  }

  .guides-text {
    padding-bottom: 20px;
  }

  .guides-text p {
    padding-bottom: 15px;
  }

  .guides h2:last-child {
    padding-top: 15px;
  }

  .sellers {
    flex-direction: column;
    align-items: center;
  }

  .seller {
    padding-bottom: 20px;
  }

  .seller h3 {
    padding: 10px 0;
  }

  .seller button {
    font-size: 20px;
  }
}