html,
body {
  height: 100%;
  width:100%; 
  overflow-x:hidden;
}

body {
  font-family: Roboto;
  font-style: 12px;
  color: #000000;
}

.container {
  max-width: 1094px;
  margin: 0 auto;
  padding: 15px 15px;
}

header .container {
  display: flex;
  align-items: center;
}

.menu {
  flex: 0 40%;
}

ul {
  display: flex;
  justify-content: space-between;
}

.menu a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
}


.logo {
  flex: 0 1 30%;
}

.logo a {
  padding-left: 83px;

}

.icons {
  flex: 0 1 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.shop-now {
  background-color: #F0EFEB;
  padding: 10px 0 24px;
}

.shop-now .container {
  display: flex;
  align-items: center;
}

.shop-now-text {
  flex: 0 1 50%;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  padding-bottom: 55px;
}

.shop-now-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 40px;
}

.shop-now-image {
  flex: 0 1 50%;
}

.shop-now-image img {
  width: 100%;
}

.button {
  padding: 7px 23px 9px;
  color: white;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.guides .container {
  padding: 60px 0 240px;
}

.guides-text {
  padding: 0 0 51px;
  text-align: center;
  max-width: 695px;
  margin: auto;
}

.guides-text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 27px;
}

.guides-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 47px;
}

.guides h2:last-child {
  padding: 40px 0 0 0;
}

.sellers {
  display: flex;
  padding: 0 17px;
}

.seller {
  flex: 0 1 33.333%;
}

.seller-image {
  width: 100%;
}

.seller-text {
  text-align: center;
  max-width: 156px;
  margin: auto;
}

.seller h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding: 27px 0 17px;
}

.seller p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 10px;
}

.seller button {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-color: white;
  text-decoration-line: underline;
}