@media (width >=992px) and (width < 1110px) {

  .menu {
    flex: 0 1 50%;
  }

  .menu a {
    font-size: 18px;
  }

  .logo {
    flex: 0 1 25%;
  }

  .icons {
    flex: 0 1 25%;
  }

  .sellers {
    gap: 20px;
  }

  .seller-image {
    width: 100%;
  }

  .guides-text p {
    padding-bottom: 20px;
  }

  .guides h2:last-child {
    padding-top: 20px;
  }
}