@media (width >=576px) and (width < 768px) {

  .icon-menu {
    display: flex;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 20px;
  }

  .icon-menu::before {
    content: "";
    background-color: black;
    height: 2px;
  }

  .icon-menu::after {
    content: "";
    background-color: black;
    height: 2px;
  }

  .icon-menu span {
    background-color: black;
    height: 2px;
  }

  .icon-menu {
    position: relative;
    z-index: 5;
  }

  nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 80px 0 0 0;
  }

  nav:target {
    left: 0;
  }

  header ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header li {
    padding-top: 25px;
  }

  .menu a {
    font-size: 30px;
  }

  .menu {
    flex: 0 1 33.33%;
  }

  .logo {
    flex: 0 1 33.33%;
  }

  .logo a {
    padding: 0;
  }

  .icons {
    flex: 0 1 33.33%;
  }

  .icons a {
    padding-right: 10px;
  }

  .shop-now .container {
    flex-direction: column;
  }

  .shop-now {
    padding-bottom: 0;
  }

  .shop-now-text {
    text-align: center;
  }

  h1 {
    font-size: 35px;
    line-height: 50px;
    padding: 10px 0 5px;
  }

  .shop-now-text p {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .guides .container {
    padding: 30px 0;
  }

  .guides-text {
    max-width: 550px;
    padding-bottom: 20px;
  }

  .guides-text p {
    padding-bottom: 15px;
  }

  .guides h2:last-child {
    padding-top: 15px;
  }

  .sellers {
    flex-direction: column;
    align-items: center;
  }

  .seller {
    display: none;
    padding-bottom: 20px;
  }

  .seller h3 {
    padding: 10px 0;
  }

  .seller button {
    font-size: 20px;
  }

  
  .conductor .container {
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 30px 0;
  }

  .conductor-text {
    text-align: center;
  }

  .conductor-text p {
    font-size: 20px;
    line-height: 30px;
  }

  .conductor-text button {
    font-size: 25px;
  }
}