@media (width >=992px) and (width < 1110px) {

  .menu {
    flex: 0 1 50%;
  }

  .menu a {
    font-size: 18px;
  }

  .logo {
    flex: 0 1 25%;
  }

  .icons {
    flex: 0 1 25%;
  }

  .sellers {
    gap: 20px;
  }

  .seller-image {
    width: 100%;
  }

  .guides-text p {
    padding-bottom: 20px;
  }

  .guides h2:last-child {
    padding-top: 20px;
  }

  .conductor-text p {
    font-size: 25px;
  }

  .conductor-text button {
    font-size: 25px;
  }

  .features {
    padding: 100px 0 100px;
  }

  .features-block {
    grid-row-gap: 70px;
  }

  .feature { 
  width: 48%;
  max-width: none;
}

}