html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Roboto;
  font-style: 12px;
  color: #000000;
}

.container {
  max-width: 1094px;
  margin: 0 auto;
  padding: 15px 15px;
}

header .container {
  display: flex;
  align-items: center;
}

.menu {
  flex: 0 40%;
}

ul {
  display: flex;
  justify-content: space-between;
}

.menu a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
}


.logo {
  flex: 0 1 30%;
}

.logo a {
  padding-left: 83px;

}

.icons {
  flex: 0 1 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.shop-now {
  background-color: #F0EFEB;
  padding: 10px 0 24px;
}

.shop-now .container {
  display: flex;
  align-items: center;
}

.shop-now-text {
  flex: 0 1 50%;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  padding-bottom: 55px;
}

.shop-now-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 40px;
}

.shop-now-image {
  flex: 0 1 50%;
}

.shop-now-image img {
  width: 100%;
}

.button {
  padding: 7px 23px 9px;
  color: white;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.guides .container {
  padding: 60px 0 240px;
}

.guides-text {
  padding: 0 0 51px;
  text-align: center;
  max-width: 695px;
  margin: auto;
}

.guides-text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 27px;
}

.guides-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 47px;
}

.guides h2:last-child {
  padding: 40px 0 0 0;
}

.sellers {
  display: flex;
  padding: 0 17px;
}

.seller {
  flex: 0 1 33.333%;
}

.seller-image {
  width: 100%;
}

.seller-text {
  text-align: center;
  max-width: 156px;
  margin: auto;
}

.seller h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding: 27px 0 17px;
}

.seller p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 10px;
}

.seller button {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-color: white;
  text-decoration-line: underline;
}

.conductor .container {
  display: flex;
  padding: 75px 15px 50px;
  align-items: center;
  gap: 50px;
}

.conductor-image {
  flex: 0 1 40%;
}

.conductor:first-child {
  background-color: #F0F0F0;
}

.conductor:nth-child(2) {
  background-color: #E0E0E0;
}

.conductor:last-child {
  background-color: #F0F0F0;
}

.conductor-text {
  flex: 0 1 60%;
  max-width: 532px;
}

.conductor-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 31px;
}

.conductor-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 31px;
}

.conductor-text button {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
}

.conductor-image img {
  width: 100%;
}

.features {
  padding: 190px 0 110px;
}

.features-block-text {
  padding-bottom: 70px;
}

.features-block-text h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  max-width: 450px;
  margin: auto;
}

.features-block {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 24px;
  grid-row-gap: 110px;
}

.feature {
  width: 33%;
  max-width: 338px;

}

.feature-image {
  width: 70px;
  height: 70px;
  background: #21F7EC;
  border-radius: 35px;
  margin: auto;
  margin-bottom: 26px;
}

.feature-image-2 {
  background-color: #33D3BC;
}

.feature-image-3 {
  background-color: #18A5C6;
}

.feature-image-4 {
  background-color: #D38F62;
}

.feature-image-5 {
  background-color: #F94C43;
}

.feature-image-6 {
  background-color: #D399FF;
}

.feature-text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  max-width: 211px;
  text-align: center;
  margin: auto;
}

.interviews {
  position: relative;
  padding-bottom: 30px;
}

.interviews-text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  max-width: 705px;
  margin: auto;
}

.interview-block {
  display: flex;
  gap: 100px;
  padding-top: 102px;
}

.interview {
  flex: 0 1 33.333%;
  z-index: 2;
}

.interview-image {
  padding-bottom: 35px;
}

.interview-text {
  text-align: center;
  max-width: 280px;
}

.interview-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.6px;
  padding-bottom: 40px;
}

.interviews-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  padding-bottom: 2px;
}

.interview-text button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  padding-top: 42px;
  background-color: inherit;
}

.interview-background {
  position: absolute;
  top: 380px;
  left: 0;
  width: 100%;
  height: 480px;
  background-color: #F0F0F0;
}

.keep-in-touch {
  padding: 79px 0 89px;
}

.text {
  text-align: center;
}

.text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 9px;
}

.text p {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 25px;
  max-width: 496px;
  margin: auto;
}

.keep-in-touch .container {
  text-align: center;
}

.input {
  text-align: center;
}

input {
  padding: 12px 0 11px;
  height: 40px;
  border: 1px solid black;
}

input.email {
  width: 366px;
  margin-top: 20px;
}

input.first-name {
  margin-right: 22px;
}

input.email {
  margin-bottom: 16px;
}

footer {
  background-color: black;
}

footer .allinfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 50px;
}

.logo-footer {
  padding-bottom: 25px;
}

.network img{
  padding-right: 20px;
}

footer .footer-menu {
  display: flex;
}

.footer-menu .column {
  width: 205px;
}

footer h4 {
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: white;
padding-bottom: 24px;
}

footer p {
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: white;
padding-top: 12px;

}

footer .text {
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: white;
}

